/*----------------------
         RESET          
-----------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------------
        SET GENERALI        
-----------------------*/
.containerlarge{
    
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.containersmall{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.riga{
    display: flex;

}

.btnu{
    padding: 3px 5px;
    border: 0px;
    background-color: #0061fe;
    color: #fff;
}


/*----------------------
        TYPOGRAPHY        
-----------------------*/

body{
    font-family: "Open Sans", sans-serif;
}

header a{
    text-decoration: none;
    font-size: 14px;
}

#sez1 h1{
    font-size: 65px;
    padding-top: 100px;
    padding-bottom: 50px;
}

/*----------------------
        HEADER        
-----------------------*/

header{
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
    align-items: baseline;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
}

header .headleft .logo{
    display: inline-block;
    position: relative;
    top: 5px;
}


header .headleft a,
header .headleft .logo{
    margin-right: 35px;
}

header .headright a,
header .headright .btnu{
    margin-left: 35px;
}


/*----------------------
        MAIN       
-----------------------*/

.back-colortop{
    background-color: #b4d0e6;   
}

#sez1 .riga .colsmall{
    width: 30%;
}

#sez1 .riga .colbig{
    width: 70%;
}

#sez1 .riga .colbig img{
    max-width: 100%;
}

#sez1 .containerlarge{
    position: relative;
    top: 100px;
}

#sez1 .btnu{
    margin: 40px 0px;
}

.freccia{
    font-size: 50px;
    position: absolute;
    bottom: 120px;
}