/*----------------------
         RESET          
-----------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------------
        SET GENERALI        
-----------------------*/
.containerlarge{
    
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.containersmall{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.riga{
    display: flex;
    max-width: 100%;
    gap:50px;

}

.btnu{
    padding: 3px 5px;
    border: 0px;
    background-color: #0061fe;
    color: #fff;
}

.colonna{
    flex-grow: 1;
}

.col-title{
    max-width: 100%;
    padding: 15px 0px;
    text-align: center;
    border: 1px solid #d0cfd4;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.col-body{
    max-width: 100%;
    line-height: 40px;
    border: 1px solid #d0cfd4;
    padding: 0px 40px;
    margin-left: auto;
    margin-right: auto;

}

.col-body h3{
    margin-top: 40px;

}

hr{
    max-width: 50px;
    margin-top: 40px;
    margin-bottom: 50px;

}

.col-body ul{

    margin-top: 50px;
    margin-bottom: 50px;
}

/*----------------------
        TYPOGRAPHY        
-----------------------*/

body{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

header a{
    text-decoration: none;
    font-size: 14px;
}

#sez1 h1{
    font-size: 65px;
    padding-top: 100px;
    padding-bottom: 50px;
}

#sez2 h2{
    font-size: 35px;
    padding-top: 150px;
    padding-bottom: 60px;
}

#sez2 h3{
    font-size: 25px;
}

.graytext{
    color: #d0cfd4;
}
/*----------------------
        HEADER        
-----------------------*/

header{
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
    align-items: baseline;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
}

header .headleft .logo{
    display: inline-block;
    position: relative;
    top: 5px;
}


header .headleft a,
header .headleft .logo{
    margin-right: 35px;
}

header .headright a,
header .headright .btnu{
    margin-left: 35px;
}


/*----------------------
        MAIN       
-----------------------*/

.back-colortop{
    background-color: #b4d0e6;   
}

#sez1 .riga .colsmall{
    width: 30%;
}

#sez1 .riga .colbig{
    width: 70%;
}

#sez1 .riga .colbig img{
    max-width: 100%;
}

#sez1 .containerlarge{
    position: relative;
    top: 100px;
}

#sez1 .btnu{
    margin: 40px 0px;
}

.freccia{
    font-size: 50px;
    position: absolute;
    bottom: 120px;
}

#sez2 .colonna .btnu{
    margin-top: 40px ;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
